pandas~=2.0.3
numpy~=1.24.4
scikit-learn~=1.3.0
scipy~=1.11.1
xgboost~=1.7.6
ray~=2.6.1
tqdm~=4.65.0
jupyter
shap~=0.42.1
catboost~=1.2
lightgbm~=4.0.0
QuantStats~=0.0.62
matplotlib~=3.7.2
pyarrow
fastparquet
ipywidgets
catboost