# atom-ml==5.0.1
pandas_datareader
tqdm
pandas
numpy==1.23.1
yfinance
matplotlib
scikit-learn
statsmodels
quantstats
getFamaFrenchFactors
scipy
sklearn
xgboost
pykalman
PyWavelets
pyarrow
cloudpickle
prettytable
ipython
Jupyter
fastai
pandas_ta